---
import CompanyAdminForm from '../../../components/modules/management/CompanyForm';
import AppLayout from '../../../layouts/AppLayout.astro';
import companyImage from '../../../assets/company_section.jpg';
---

<AppLayout title="Company" includeMenu={false}>
	<div class="p-6 flex justify-between items-stretch h-full flex-wrap">
		<div class="flex-1 flex items-center">
			<CompanyAdminForm />
		</div>
		<div class="flex-grow-0 flex items-center">
			<img src={companyImage.src} class="object-contain h-full" alt="Company" />
		</div>
	</div>
</AppLayout>