---

---

<footer class="bg-color_brand text-white py-2">
  <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <p class="text-sm">© 2025 Pet Care Suite. All rights reserved.</p>
    <div class="mt-1">
      <a
        href="/privacy-policy"
        class="text-xs text-white hover:text-white_brand mr-4">Privacy Policy</a
      >
      <a href="/terms" class="text-xs text-white hover:text-white_brand"
        >Terms & Conditions</a
      >
    </div>
  </div>
</footer>
