  ---
  import logoImage from '../assets/logo-pet-care-suite.png';
  import LoginForm from '../components/modules/login/LoginForm';
  import AuthLayout from '../layouts/AuthLayout.astro';
  import doctorImage from "../assets/login_doctor.png";

  export const prerender = true
  
  ---

  <AuthLayout title="Pet Care Suite">
    <main class="relative flex items-center justify-center min-h-screen bg-white-brand-gradient opacity-95">

      <div class="absolute top-0 md:bottom-0 md:top-auto right-auto md:right-0 max-h-[500px]">
        <img
          src={doctorImage.src}
          alt="Doctor silhouette"
          class="object-cover h-full max-h-[275px] md:max-h-[500px] w-auto opacity-50 md:opacity-100"
          style="object-position: bottom right; z-index: 10;"
        />
      </div>

      <div class="relative z-50 w-full max-w-md p-6 backdrop-filter backdrop-blur-lg rounded-lg shadow-lg">
        <div class="flex justify-center mb-6">
          <img src={logoImage.src} alt="Pet Care Suite Logo" class="w-48 md:w-64" />
        </div>

        <LoginForm client:load />
      </div>
    </main>
  </AuthLayout>
